.navigation {
  display: flex;
  align-items: center;
  height:80px;
  width:1220px;
  .logo{
    flex:1;
    img{
      height:60px;
      width: 60px;
    }
  }
}
.navigationBox{
  background: rgba(255,255,255,0);
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.fixedHead{
  position: fixed;
  top:0;
  z-index: 5;
}
